name: Upload Terms to POEditor

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  #push:
  #  branches:
  #    - main
  #pull_request:
  #  branches:
  #    - main

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poeditor babel
    - name: Extract terms
      run: pybabel extract -o deafrica_tools.pot Tools/deafrica_tools/*
    - name: Upload terms
      env:
        POEDITOR_API_TOKEN: ${{ secrets.POEDITOR_API_TOKEN }}
        POEDITOR_PROJECT_ID: "489085"
      run: |
        python .github/workflows/scripts/upload_terms.py deafrica_tools.pot
